<h2>Book details page</h2>

<p>
  Title: <%= @book.title %>
</p>
<p>
  Author: <%= @book.author.name %>
</p>

<p>
<%= @book.description %>
</p>

<section class="book-genres">
  <p>Genres:</p>
  <ul>
    <% @book.genres.each do |genre| %>
      <li>
        <%= genre.name %>
      </li>
    <% end %>
  </ul>
</section>